opencv-python
PyMuPDF
scipy
huggingface_hub
transformers
accelerate
safetensors
Pillow

# Audio/Video processing
pydub
ffmpeg-python
soundfile
# NLP & Language
word2number
ollama
langchain-ollama
langgraph
langchain-core
tavily
rapidfuzz

# Testing
pytest
